* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    background-color: #000;
  }

  h1, h2 {
    margin: 0;
    font-weight: normal;
  }
  
  ul { 
      padding: 0px;
  }
  
  li {
      color: #fff;
      font-weight: normal;
      list-style: none;
      margin-bottom: 20px;
      font-size: 48px;
  }
  
  a:visited {
    color: #ffffff;
  }
  
  .list-dec {
      color: yellow;
      text-transform: uppercase;
  }
  