//color
$keyColor: #FFD800;
$white: #ffffff;
$gray: #666666;

//size
$width-inner: 800px;

//font
$fontsize-small: 16px;
$fontsize-middle: 24px;
$fontsize-lerge: 32px;

//breeakpoint
$breakpointMiddle: 768px;